html {
   font-family: helvetica;
   text-align: center;
}
.p {
   font-size: 10px;
}
h1 {
   color: rgb(56, 45, 211);
}
.topnav { 
   max-width: 700;
   overflow: hidden; 
   background-color: yellow;
}

.topnav a {
   float: left;
   display: block;
   color: black;
   font-weight: bold;
   text-align: center;
   padding: 10px 5px;
   text-decoration: none;
}
.topnav-right {
   float: right;
   font-size: 12px;
}
